/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.home-container {
  background-color: black;
  padding: 40px;
}

.title {
  padding: 40px 0px 40px 25px;
  color: #ffe082;
  font-size: xx-large;
}

.card-container {
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 30px;
  margin-top: 20px;
}

.my-card {
  box-sizing: border-box;
  display: inline-block;
  margin: 0rem 1rem 0rem 1rem;
}

.fa-heart {
  color: blue;
}
