/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.card {
  width: 18rem;
}

.card-container {
  padding-bottom: 20px;
}

.profile-container {
  background-color: black;
}

.form-control {
  margin-bottom: 20px;
}

.avatarImages {
  font-size: x-large;
  padding-right: 15px;
  color: #ffe082;
}

.avatarImages:hover,
.avatarImageSelected {
  font-size: xx-large;
  color: lightgreen;
}

.yellow-text {
  color: #ffe082;
  text-decoration: none;
  font-size: x-large;
}
.yellow-text-title {
  color: #ffe082;
  font-size: xx-large;
  margin-top: 20px;
  text-decoration: underline;
}
.profile-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.links:hover {
  color: lightgreen;
}
.delete-favorite {
  color: grey;
  margin-left: 20px;
  text-decoration: none;
  font-size: xx-large;
}
.delete-favorite:hover {
  cursor: pointer;
  color: red;
}

.h-100 {
  height: 100svh;
  background-color: black;
}
.profile-icon {
  font-size: xx-large;
  color: #ffe082;
}
.profile-icon:hover {
  color: lightgreen;
}
.logged-in {
  justify-content: center;
  display: flex;
  align-items: center;
}
.form-label {
  color: #ffe082;
}
.navbar {
  margin-bottom: 30px;
}
.button-back-container,
.submit-account,
.avatar-submit {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.back {
  color: black;
  text-decoration: none;
}
.back:hover {
  color: lightgreen;
}
.custom-button {
  border: solid #ffe082;
  background-color: lightgreen;
  color: black;
  border-radius: 3px;
  max-height: 50px;
  font-size: large;
  margin-top: 20px;
}
.custom-button:hover {
  background-color: #ffe082;
  color: lightgreen;
  border: solid lightgreen;
}

.login-container,
.register-container {
  margin-left: 400px;
  margin-right: 400px;
}

.navbar {
  padding: 20px 40px 20px 40px;
  border-bottom: 1px solid lightgreen;
  background-image: url("https://imageio.forbes.com/blogs-images/startswithabang/files/2020/04/opo9601c-1200x947.jpg?format=jpg&width=960");
}

.container-card {
  box-sizing: border-box;
  display: inline-block;
}
.details-header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.info {
  color: lightgreen;
}

.details-title {
  color: #ffe082;
  font-size: xx-large;
}

.details-container {
  padding: 30px 150px 0px 150px;
  display: flex;
  justify-content: center;
}
.details-page {
  background-color: black;
  /* height: 100%; */
  height: 100svh;
}

.login-link {
  text-decoration: none;
  color: #ffe082;
  font-size: xx-large;
}
.login-link:hover {
  color: lightgreen;
}

.details-image {
  border-radius: 3px;
  border: 3px solid #ffe082;
  margin-bottom: 10px;
}

.heading {
  color: red;
}
